/* header part--------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: white;


}


header {
    background: linear-gradient(180deg, #007A87 0%, #19C1AC 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}


header img {
    height: 80px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;


}


.nav-links a {
    color: white;
    text-decoration: none;
}


.nav-links a:hover {
    color: wheat;
}


.container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}


#menu-toggle {
    display: none;
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}



/*   */
@media (max-width: 768px) {


    .hamburger {
        display: block;
    }


    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        background: white;
        width: 200px;
        display: none;
        flex-direction: column;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .nav-links a {
        margin: 10px 0;
        color: #007A87;
    
    }


    #menu-toggle:checked~.nav-links {
        display: flex;
    }
}




/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {



    .hamburger {
        display: block;
    }



    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .nav-links {
        position: absolute;
        top: 80px;

        right: 0;
        background: white;
        width: 250px;
        display: none;
        flex-direction: column;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }


    .nav-links a {
        margin: 10px 0;
        color: #007A87;
        text-decoration: none;
    }


    .nav-links a:hover {
        color: #19C1AC;
    }


    
    #menu-toggle:checked~.nav-links {
        display: flex;
    }
}

/* hero section -------------------------------------------------------------*/

.hero {
    background-image: url('../images/test.png');
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: center;
   
    padding-bottom: 100px;
    align-items: center;
  
    text-align: center;
    position: relative;
}


.hero-content {
    margin-top: -40px;
    
}


.hero h1 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 5px;
    color: white;
}


.hero p {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 3px;
    color: white;
    margin-top: 10px;
}


.cta-btn {
    display: inline-block;
    margin-top: 25px;

    padding: 14px 35px;
    background-color: #19C1AC;
    color: white;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}
.cta-btn:hover{
    background-color: #007A87;
}




@media (max-width: 1024px) {
    .hero {
        height: 500px;
        padding: 20px;
    }


    .hero h1 {
        font-size: 4rem;
        letter-spacing: 3px;
    }


    .hero p {
        font-size: 1.3rem;
    }


    .cta-btn {
        padding: 12px 28px;
        font-size: 1rem;
    }
}


/* ---Mobile (≤768px)----------*/
@media (max-width: 768px) {
    .hero {
        height: 450px;
        padding: 20px;
    }


    .hero-content {
        margin-top: 0;
    }


    .hero h1 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }


    .hero p {
        font-size: 1rem;
        letter-spacing: 1px;
    }


    .cta-btn {
        padding: 10px 22px;
        font-size: 0.9rem;
    }
}

  /* About Section................................................................................... */



.about {
    padding: 80px 20px;
    background-color: #f7f7f7;
    color: #333;
}


.about-container {
    max-width: 1200px;
    margin: auto;
}



.about-text {
    text-align: center;
    margin-bottom: 50px;
}


.about h2 {
    font-size: 2.8rem;
    color: #007A87;
}


.about p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-top: 10px;
}


.mission h3 {
    margin-top: 25px;
    font-size: 1.9rem;
    color: #19C1AC;
}






.about-text p,
.mission p {
    max-width: 800px;        
    margin: 10px auto;      
    text-align: center;      
    line-height: 1.8;        
    font-size: 1.15rem;      
}





.features-grid {
    display: grid;
    gap: 30px;
}


/* Feature Cards */
.feature-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}


.feature-card img {
    width: 70px;
    margin-bottom: 15px;
}


.feature-card h4 {
    color: #007A87;
    margin-bottom: 10px;
    font-size: 1.3rem;
}


.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
}


@media (max-width: 768px) {
    .about h2 {
        font-size: 2rem;
    }


    .mission h3 {
        font-size: 1.5rem;
    }


    .features-grid {
        grid-template-columns: 1fr; /* One column */
    }
}


/*  tablet (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {


    .features-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }


    .about h2 {
        font-size: 2.3rem;
    }
}


/*  desktop above 1024px) */
@media (min-width: 1025px) {


    .features-grid {
        grid-template-columns: repeat(3, 1fr);
    }


    .about h2 {
        font-size: 2.6rem;
    }
}

/* Destination Section........................................................................... */

.destinations {
    padding: 80px 20px;
    background-color: #ffffff;
}


.dest-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}


.destinations h2 {
    font-size: 2.8rem;
    color: #007A87;
}


.dest-subtitle {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
}



.dest-grid {
    display: grid;
    gap: 30px;
}


.dest-card {
    background: #f7f7f7;
    border-radius: 15px;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}


.dest-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
}


.dest-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.dest-card h3 {
    font-size: 1.4rem;
    color: #007A87;
    margin: 15px 0 5px;
}


.dest-card p {
    font-size: 1rem;
    color: #444;
    padding: 0 15px;
}




@media (max-width: 768px) {
    .dest-grid {
        grid-template-columns: 1fr; /* 1 column */
    }
}


/* tablet (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .dest-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}



@media (min-width: 1025px) {
    .dest-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }


    .destinations h2 {
        font-size: 2.6rem;
    }
}

/* Contact Section.........................................................................*/

.contact {
    padding: 80px 20px;
    background-color: #f7f7f7;
}


.contact-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}


.contact h2 {
    font-size: 2.4rem;
    color: #007A87;
}


.contact-subtitle {
    margin-bottom: 35px;
    font-size: 1.1rem;
    color: #555;
}



.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}


.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.full-width {
    grid-column: span 2;
}



input, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    width: 100%;               
    box-sizing: border-box;     
}


textarea {
    height: 150px;
    resize: none;
}


/* Submit button */
.contact-btn {
    grid-column: span 2;
    padding: 14px;
    background-color: #19C1AC;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}


.contact-btn:hover {
    background-color: #007A87;
}



@media (max-width: 768px) {
    .contact-form {
        grid-template-columns: 1fr !important;  
    }


    .full-width,
    .contact-btn {
        grid-column: span 1 !important;
    }


    .contact h2 {
        font-size: 2rem;
    }
}


/*  tablet (769px–1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .contact-form {
        grid-template-columns: 1fr 1fr;
    }


    .full-width,
    .contact-btn {
        grid-column: span 2;
    }
}

/* Footer.............................................................................. */


.simple-footer {
    background: #007A87;
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
}


@media (max-width: 768px) {
    .simple-footer {
        padding: 15px 8px;
        font-size: 0.9rem;
        line-height: 1.4;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .simple-footer {
        padding: 18px 12px;
        font-size: 1rem;
    }
}

