/* header part--------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: white;


}


header {
    background: linear-gradient(180deg, #007A87 0%, #19C1AC 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}


header img {
    height: 80px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;


}


.nav-links a {
    color: white;
    text-decoration: none;
}


.nav-links a:hover {
    color: wheat;
}


.container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}


#menu-toggle {
    display: none;
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}



/*   */
@media (max-width: 768px) {


    .hamburger {
        display: block;
    }


    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        background: white;
        width: 200px;
        display: none;
        flex-direction: column;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .nav-links a {
        margin: 10px 0;
        color: #007A87;
    
    }


    #menu-toggle:checked~.nav-links {
        display: flex;
    }
}




/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {



    .hamburger {
        display: block;
    }



    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .nav-links {
        position: absolute;
        top: 80px;

        right: 0;
        background: white;
        width: 250px;
        display: none;
        flex-direction: column;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }


    .nav-links a {
        margin: 10px 0;
        color: #007A87;
        text-decoration: none;
    }


    .nav-links a:hover {
        color: #19C1AC;
    }


    
    #menu-toggle:checked~.nav-links {
        display: flex;
    }
}